/* header div .search {
  height: 90px;
  
}
/* .header .headercontent {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: blueviolet;
} */
/* .search-custom-margin {
  margin-right: 1rem !important;
}
.menu-container {
  margin-right: 1rem;
}

.cart {
  background-color: brown !important;
  margin-left: 1rem;
} */
