.modal-slide {
  background-color: aqua;
  display: flex;
  position: fixed;
  top: 0rem;
  left: 0;
  width: 40%;
  height: 100%;
  z-index: 9990;
}
.modal-slide h1 {
  background-color: rgb(43, 128, 122);
  margin-top: 5rem;
  margin-left: 10%;
}
.modal-slide ul {
  background-color: rgb(58, 161, 202);
}
.modal-slide container div {
  background-color: red;
  width: 100%;
  margin-left: 100%;
}
