/* .cart-container {
  background-color: aqua;

  top: 0rem;
  right: 0;
  width: 30%;
  height: 100%;
} 
/* .modal-slide h4 {
  background-color: rgb(43, 128, 122);
  margin-top: 5rem;
  margin-left: 10%;
}
.modal-slide ul {
  background-color: rgb(58, 161, 202);
}
.modal-slide container div {
  background-color: red;
  width: 100%;
  margin-left: 100%;
} */
